# Lecture 3 - More Types (https://bit.ly/intro_python_03)

Today:
* More strings
    * Python uses unicode
    * Quotes, double quotes and triple quotes
    * Whitespace characters
    * Escape characters
    * F-strings
    * Number formatting
* Type Conversions
* Automatic Type Conversion
* More Input
* List basics
* Dictionary Basics

# More Strings

In Python3.0 strings are sequences of symbols from an alphabet called Unicode: https://unicode.org/

* Unicode allows a very wide range of symbols for many languages and encodings. Much more than ASCII (http://www.asciitable.com/), which is what Python used to use. This requires more memory to store the strings, but prevents weird syntax translation issues.

![alt text](https://pediaa.com/wp-content/uploads/2018/07/Difference-Between-ASCII-and-Unicode-Comparison-Summary.jpg)

# String Syntax

In [ ]:
# Strings can be expressed a bunch of ways:

type("hello") # Double quotes

str

In [ ]:
type('hello') # Single quotes

str

In [ ]:
type("""hello""") # Triple double quotes

str

In [ ]:
type('''hello''') # Triple single quotes

str

We have these different syntax so we can embed quotes and whitespace (tabs, spaces and new lines) in strings.

In [ ]:
# We can embed single quotes in double quotes:
print("This is a string containing a 'single quoted substring'")

This is a string containing a 'single quoted substring'

In [ ]:
# Trying to embed single quotes
# in a single quoted string naively does not work
type('This is a string containing a 'single quoted substring'')

SyntaxError: ignored

In [ ]:
# And vice-versa, we can embed double quotes in single quotes:
type('This is a string containing a "double quoted substring"')

str

In [ ]:
# Single and double quoted strings can't span multiple lines:
type('This is an
      attempt to have a string on two lines')

SyntaxError: ignored

In [ ]:
# Triple quotes (either single or double), allow embedding essentially anything,
# including spanning multiple lines:

print("""Boom, now
   we can make crazy strings that ' nest quotes in quotes " " ' etc.
   and which span multiple lines""")

Boom, now
   we can make crazy strings that ' nest quotes in quotes " " ' etc.
   and which span multiple lines

In [ ]:
# You will also see this a lot in Python code:

"""
A comment string.

These can be used to document some code
across multiple lines. We'll later see this at the top
of classes and functions as a standard way of giving
a description string.
"""

" \nA comment string. \n\nThese can be used to document some code\nacross multiple lines. We'll later see this at the top\nof classes and functions as a standard way of giving\na description string.\n"

# Challenge 1

In [ ]:
# Create a string containing single quotes, double quotes and which spans multiple lines

Hello, this contains single quotes: '', and double quotes ""
and spans multiple lines

!!!
etc.

# Whitespace Characters

* There is a difference between the contents of a Python string you type (termed a string literal) and what gets printed to the screen.

* In general, Python and most other programming languages use reserved ASCII or unicode characters to encode whitespace in string literals.

* Lets cover tabs and newlines

In [ ]:
s = "This\tis\ttab\tseparated" # Tabs are encoded with '\t'

print(s)

This	is	tab	separated

In [ ]:
s = "This\nis\nnewline\nseparated" # Newline characters: '\n' specify new lines

print(s)

This
is
newline
separated

In [ ]:
s2 = """This
is
newline
separated""" # This is the equivalent way of specifying s by using
# explicit white space in your code

print(s == s2)

True

In [ ]:
print(s2)

This
is
newline
separated

In [ ]:
# It is often convenient to use tab and newline characters in your string
# formatting to make the strings do what you want, e.g.

print("Welcome to my program.\n\tHere is an indent.\n\t\tHere is a double indent")

Welcome to my program.
	Here is an indent.
		Here is a double indent

Doing the above with triple quoted strings is less compact, and generally more error prone,
because the way the editor encodes tabs depends on how the code formatting is setup:
e.g. are blocks of spaces tabs? how many spaces? etc.

In [ ]:
print("""Welcome to my program.
    Here is an indent.
        Here is a double indent""")

Welcome to my program.
    Here is an indent.
        Here is a double indent

# Escape Characters

**The use of "\t" and "\n" are examples of escape characters.**

* In general, the **backslash** “\” or the “**escape**” character is used to insert whitespace character into strings.
* Some of these include...

     1. \t - Horizontal tab
     2. \v - Vertical tab - archaic, generally moves printing to the same place on a line below
     3. \n - Newline
     4. \r - Carriage return - archaic, generally moves printing back to the beginning of the line
     5. \f - Feed - archaic, instructs printer to start a new page
     
     
(As an aside, I never use the vertical tab, feed or carriage return, but YMMV)
     
     
* The backslash character can also be used to include special characters when using strings
* Some of these include (and are useful to remember):

    1. \\' - Single Quote
    2. \\\ - Backslash

In [ ]:
# Use escape characters to include the symbols you want in a string:

x = "This is a string with a double quote in it: \", and a single quote: \' and a backslash with an n \\n "

print(x)

This is a string with a double quote in it: ", and a single quote: ' and a backslash \n

In [ ]:
# Using carriage return to write over what was already printed!

print("This is a string with a \r carriage return")

 carriage return

# Challenge 2

In [ ]:
# Rewrite the following string to use single quotes and escape characters
x = """this is
a contrived example
    to test
            you!"""

this is
a contrived example
    to test
            you!
this is
a contrived example
    to test
            you!
True

# F-strings

Often we want to substitute values into strings. Python's f-strings are a nice way to do this (we'll see other ways to do this later)

In [ ]:
# Suppose we have these two variables

address="10 Downing St, London, SW1A, UK"
person="prime minister"

# We can introduce them into a f-string as follows
print(f"I went to {address} to see the {person}")

I went to 10 Downing St, London, SW1A, UK to see the prime minister

F-strings were introduced in Python 3.6. They provide a convenient alternative to the format method (see below)

In [ ]:
# The general syntax allows either F or f as the prefix.
# They work with single quotes, double quotes and triple quotes, just as with vanilla strings

print(f"I went to {address} to see the {person}")
print(F"I went to {address} to see the {person}")
print(f'I went to {address} to see the {person}')
print(F"""I went to {address} to see the {person}""")
# etc...

I went to 10 Downing St, London, SW1A, UK to see the prime minister
I went to 10 Downing St, London, SW1A, UK to see the prime minister
I went to 10 Downing St, London, SW1A, UK to see the prime minister
I went to 10 Downing St, London, SW1A, UK to see the prime minister

In [ ]:
# You can embed arbitrary expressions within the f-string:
print(f"This is math: { 5 * 5 }, and this is string multiplication: { 'hello' * 2 }")

This is math: 25, and this is string multiplication: hellohello

Note in the above example we must embed single quoted strings in the double quoted string.

# Formatting Numbers

It is important to be able to control the format of numbers during printing!

This is one of those things I always have to look up to get right, this table is useful as a cheat sheet:

https://mkaz.blog/code/python-string-format-cookbook/

In [ ]:
x = 0.9745

f"The number is: {x:.7f}" # The : indicates that you're issuing a formatting command
# the .7 says you want to seven decimal places,
# f says the thing you're printing is a float

'The number is: 0.9745000'

In [ ]:
# You can control the total number of digits printed as follows:

f"The number is: {x:06.3f}" # The same

## Here {:0x.yf} x (the 6) is the total number of symbols to be printed
## including the decimal place and y is the number of digits after
## the decimal. The 0 instructs the formatting command to prepend 0s
## to the number to get the right number of digits (without it it inserts spaces)

'The number is: 00.975'

In [ ]:
f"{x:+07.2f}" # Add + indicates to print a sign (either + or -)

'+000.97'

In [ ]:
# We can also embed the number directly

f"The number is: {0.9745:.7f}" # The same

'The number is: 0.9745000'

For integers...

In [ ]:
x = 657

f"{x:05d}" # the d indicates an integer
# the 05 says pad the integer with 0s to make it have at least 5 characters

'  657'

There is a lot more to learn about formatting numbers for printing, so refer to the cheat sheet and play with the standard to learn it better.

# Challenge 3

In [ ]:
x = 5.6932

# Write a formatting command to print x as '0005.69'

0005.69

# Type Conversion

In [ ]:
# It is useful to know that int, float and string types can be cross converted

type( int('5') ) # This int() turns the string into an integer

int

In [ ]:
type( str(5) ) # We can also go back the other way

str

In [ ]:
# Of course, this doesn't work because int() doesn't how
# to interpret 'foo'
int("foo")

ValueError: ignored

In [ ]:
# We can also convert between floats and ints, and
# dropping the decimal part as we go float --> int
int(5.999)

5

In [ ]:
float(5)

5.0

# Automatic Type Conversion

In [ ]:
# Remember everything in Python has a type, discoverable with "type()"

# What's the type of x?
x = 6

type(x)

int

In [ ]:
y = 5

type(y)

int

In [ ]:
# So what's the type of our expression result?

type(x // y)

int

In [ ]:
type(x / y) # And this one ?

float

In [ ]:
type(x + 0.0) # Python will generally automatically switch into floating point to avoid losing the decimal

float

In general, Python will try to convert into floating point if needed. However, you can use float() and int() to make it do what you want.

# Challenge 4

In [ ]:
# What is the type and value of?:
5 % 2
# And
5.6 % 2

# More Input

In [ ]:
# Recall:

name = input("What's your name? ")

print("Hello", name)

What's your name? Benedict
Hello Benedict

In [ ]:
# Input always creates a string.

# We can use type conversion to create numbers

value1 = int(input("Enter a number: ")) # Read a first number
# from the user

value2 = int(input("Enter another number: ")) # Read a second number
# from the user

print("The sum of your two numbers is: ", value1 + value2)

Enter a number: 5
Enter another number: 10
The sum of your two numbers is:  510

* Note: input(), like print(), str(), int(), type() is an example of a function, we'll come back to how these work soon

# Challenge 5

In [ ]:
# Adapt the below program to read in floating point numbers:

value1 = int(input("Enter a number: ")) # Read a first number
# from the user

value2 = int(input("Enter another number: ")) # Read a second number
# from the user

print("The sum of your two numbers is: ", value1 + value2)

# List Basics

Python lists are sequences of objects

In [ ]:
x = [ 1, 8, "hello"] # Python lists are sequences of objects

# They are specified using this square bracket notation

In [ ]:
len(x)  # The length of the list

3

In [ ]:
print(x) # Printing a list shows it contents

[1, 8, 'hello']

In [ ]:
x[0] # The first element of the list, Python lists are INDEXED FROM 0

1

In [ ]:
x[1] # The second

8

In [ ]:
x[2] # The third

'hello'

In [ ]:
print("Before", x)

x[0] = 2 # Replace a member of the list

print("After", x)

Before [1, 8, 'hello']
After [2, 8, 'hello']

In [ ]:
dir(x) # Lists have many other features, we'll visit them again soon

# dir() is a builtin function we can use to discover the variables
# and methods of a Python object - the "__" names look strange here,
# we'll figure these out later

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Challenge 6

In [ ]:
x = [ "1", "2", "3" ]
# Convert each member of the list to an integer

# Dictionary Basics

Dictionaries are "maps" (think like a math function) from a set of keys (domain) to a set of values (codomain)

In [ ]:
english_to_spanish = {"two": "dos", "one": "uno", "three":"tres"}

fruit_costs = {"apples": 430, "bananas": 312, "oranges": 525, "pears": 217}

* Dictionaries are defined by curly braces {}

* They are a collection of key:value pairs, each pair separated by a comma.

* Keys and values can be most Python objects, e.g: { 1:"hello", "two":True }

* You look up elements in a dictionary using square bracket notation:

In [ ]:
english_to_spanish["one"]

'uno'

**No duplicate keys**: You can't have duplicate keys in a dictionary:

In [ ]:
a = { 1:2, 3:4, 1:6 } # Don't expect this to out work well

print(a)

{1: 6, 3: 4}

**Duplicate values are allowed**:

In [ ]:
a = { 1:1, 3:4, 5:1 }

print(a)

{1: 1, 3: 4, 5: 1}

**Dictionaries are mutable:**

In [ ]:
a[1] = "hello"

print(a)

{1: 'hello', 3: 4, 5: 1}

In [ ]:
a["a new key"] = 9

print(a)

{1: 'hello', 3: 4, 5: 1, 'a new key': 9}

# Challenge 7

In [1]:
# Make a dictionary mapping the integers 1, 2, ..., 5 to their cubes (1, 8, 27, ...)
d = {1:1**3, 2:2**3, 3:3**3, 4:4**3, 5:5**3}
print(d)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

# Homework

* Go to Canvas and complete the third lecture quiz, which involves completing each challenge problem
* ZyBook: Reading 3

# Practice Problems

Consolidate your knowledge!

In [ ]:
"""
Write a program that takes a user's input of their first and last name (separately - two calls to input())
and creates the following formatted output using escape characters:

Name:\t[First Name]
Surname:\t[Last Name]

For example, if the user enters "John" and "Smith", the output should be:
Name:	John
Surname:	Smith
"""

In [ ]:
"""
Write a program that:
1. Takes a decimal number from user input (e.g., 3.14159)
2. Using f-strings, prints the number in three different formats:
   - With exactly 2 decimal places
   - As a whole number (integer)
   - Right-aligned in a field of 10 characters with 3 decimal places

Example output for input 3.14159:
Two decimals: 3.14
Integer: 3
Field of 10:     3.142
"""

In [ ]:
"""
Create a program that:
1. Creates a list containing: [42, "13", 7.0, "3.14"]
2. Creates a new list where all elements are converted to integers
3. Prints both lists

Expected output:
Original list: [42, '13', 7.0, '3.14']
Integer list: [42, 13, 7, 3]

Handle any potential conversion errors appropriately!
"""

In [ ]:
"""
Create a temperature conversion program that:
1. Creates a dictionary where:
   - Keys are Celsius temperatures (0, 10, 20, 30, 40, 50)
   - Values are the corresponding Fahrenheit temperatures
2. Takes a Celsius temperature from user input
3. Prints the closest available Fahrenheit conversion from the dictionary

Example:
Input: 23
Output: The closest known conversion is for 20°C: 68°F
"""